*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'rocknrollone';
  src: url('/RocknRollOne-Regular.ttf');
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
:root {
  color-scheme: light;
  --theme: ☀️;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --theme: 🌑;
  }
}
:root:has([value='light']:checked) {
  color-scheme: light;
  --theme: ☀️;
}
:root:has([value='dark']:checked) {
  color-scheme: dark;
  --theme: 🌑;
}

body {
  color-scheme: light;
  --color-background: #ffffff;
  --color-text: #181818;
  --modal-header-text: yellow;
  --modal-header-background: #3e7f2d;
  --settings-background-color: orange;
  --settings-border-color: yellow;
  --settings-text-color: #000;
  --water-color: #146aff;
  @container style(--theme: 🌑 ) {
    color-scheme: dark;
    --color-background: #181818;
    --color-text: #ffffff;
    --water-color: darkblue;
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'rocknrollone',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
